.introduction {
  color: #64ffda;
  font-size: 18px;
  margin: 0;
  margin-top: 30%;

}

.fullName {
  color: white;
  margin: 0;
  font-size: 3.9rem;

}

.subIntro {
  color: #a7b2d0;
  font-size: 3.9rem;
  margin: 0;

}

.subDescription {
  margin-top: 3%;
}

@media (max-width:1200px) {

  .introduction {
    font-size: 15px;
    margin-top: 43%;
  }

  .fullName {
    font-size: 3rem;
  }

  .subIntro {
    font-size: 3rem;

  }
}